

<div class="outer-div container mt-4">
  <h3>Register page</h3>
  <div class="login-inner-div">
    <form [formGroup]="registerForm" (ngSubmit)="postUsers()">
      <div>
        Select your Account Type:
        <select name="accountType" id="accountType" formControlName="accountType" required>
          <option value="admin">Admin</option>
          <option value="user">User</option>
        </select>
      </div><br>
  
      <div><input formControlName="regUsername" placeholder="Username" type="text" required></div>
      <br>
      <div><input formControlName="regEmail" placeholder="E-Mail" type="email" required></div>
      <br>
      <div><input formControlName="regMobNumber" placeholder="Mobile Number" type="number" required></div>
      <br>
      <div><input formControlName="regPswd" placeholder="Password" type="password" required></div>
      <br>
      <div><input formControlName="regCnfmPswd" placeholder="Confirm Password" type="password" required></div>
      <br>
      <div><button type="submit" class="btn btn-success">Register</button></div>
    </form>
  </div>

  <div style="margin-top: 10px;">
    <a [routerLink]="loginPage">Already have an account?</a>
  </div>
</div>
  