<app-navbar></app-navbar>

<main style="margin-top: 60px;">
  <h1 class="fw-bold text-warning text-center">DONATE TO NAVPAWS</h1>
  <section class="container fs-4 text-center mb-4">
    Thank you for considering a donation to navPaws! Your contributions help us provide a safe and loving environment
    for rescued animals. We accept a variety of items to meet the diverse needs of our furry friends. Here's how you can
    help:
  </section>

  <section class="container fs-4 text-center mb-4">
    <h3 class="fw-bold text-warning">Used Items</h3>
    <ul class="text-start">
      <li><b>Old Newspapers:</b> Great for lining kennels and cages.</li>
      <li><b>Used Towels:</b> Perfect for bathing and drying our animals.</li>
      <li><b>Bedsheets and Tarpaulins:</b> Provide warmth and comfort, and are useful for creating temporary shelters.
      </li>
    </ul>
  </section>

  <section class="container fs-4 text-center mb-4">
    <h3 class="fw-bold text-warning">Sanitation Supplies</h3>
    <ul class="text-start">
      <li><b>Dettol:</b> Essential for maintaining a clean and hygienic environment.</li>
      <li><b>Dog Collars:</b> Ensure the safety and identification of our dogs.</li>
      <li><b>Surgical Masks and Gloves:</b> Important for the health and safety of our staff and volunteers.</li>
    </ul>
  </section>

  <section class="container fs-4 text-center mb-4">
    <h3 class="fw-bold text-warning">Nutrition Supplies</h3>
    <ul class="text-start">
      <li><b>Rice and Wheat:</b> Staple foods for our animals' diets.</li>
      <li><b>Bird Feed:</b> To keep our feathered friends healthy and happy.</li>
      <li><b>Pedigree:</b> High-quality food for our dogs.</li>
      <li><b>Marie Biscuits:</b> A favorite treat for many of our animals.</li>
      <li><b>Cat Foods:</b> Nutritional meals for our feline residents.</li>
    </ul>
  </section>

  <section class="container fs-4 text-center mb-4">
    <h3 class="fw-bold text-warning">Cash Donations</h3>
    Your monetary donations are crucial in helping us cover medical expenses, shelter maintenance, and other operational
    costs. Every contribution, no matter the size, makes a significant impact on the lives of the animals we rescue.
  </section>

  <section class="container fs-4 text-center mb-4">
    Your donations make a significant difference in the lives of the animals we rescue. Thank you for your generosity
    and support!
  </section>

  <section class="container card shadow mb-4">
    <div class="row">Cash</div>
    <div class="row">Stuffs</div>
  </section>
</main>