

<div class="outer-div container mt-4">
    <h3>Log in</h3>
    <form [formGroup]="loginForm" (ngSubmit)="getUsers()">
    <div>
      Select your Account Type:
      <select name="accountType" id="accountType" formControlName="accountType" required>
        <option value="admin">Admin</option>
        <option value="user">User</option>
      </select>
    </div><br>

    <div class="login-inner-div">
      <div><input formControlName="regUsername" type="text" placeholder="Username"></div>
      <br>
      <div><input formControlName="regPassword" type="password" placeholder="Password"></div>
      <br>
      <div><button type="submit" class="btn">Log in</button></div>
    </div>
  
    <div style="margin-top: 10px;">
      <a [routerLink]="registerPage">Don't have an account?</a>
    </div>
    </form>
  </div>
  

  <!-- (click)="redirectToHome()" -->